*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;



}
.child{
    width: 500px;
    height: 400px;
    text-align: center;
    border: 1px solid black;
}
body{
    background-color: rgb(20, 12, 12);
    font-family: Arial, sans-serif;
    color: white;
    margin: 0;
height: 100vh;}

    .card{
        width :400px;

        padding: 20px;
        display: flex;  
        gap: 20px;
    
       margin: 30px;
        
    }
        
 h3{
    padding: 10px;
 } 
 h1{
        padding:10px ;      
    }
 
    img{
        width: 200px;
        height: 200px;
        border-radius: 50%;
        object-fit: cover;
    }
  
    .child{
background-color: rgb(234, 154, 169);

padding: 20px;
border-radius: 10px;

    }
    button{
        padding: 10px 20px;
        font-size: 16px;
        background-color: rgb(210, 200, 200);
        color: rgb(12, 5, 5);
        border: none;
        border-radius: 5px;
        cursor: pointer;
        font-weight:medium; ;
    }